.mainNav {
  @apply flex flex-wrap items-center justify-center w-full;
  & a {
    @apply text-blue-400 hover:text-blue-400 mx-2;
  }
}

.mainNavItem {
  @apply relative text-blue-400 border-b border-transparent hover:text-blue-400 ml-3 sm:ml-8 mt-3 sm:mt-0;
  width: max-content;
  &.active {
    @apply border-black;
  }

  &:before {
    @apply absolute w-full dark:bg-gray-800 h-px left-0 invisible;
    content: "";
    bottom: -1px;
    transform: scaleX(0);
    transition: 0.2s;
  }

  &:hover:before {
    @apply visible;
    @apply bg-gray-100;
    transform: scaleX(1);
  }
}
