.timeline {
  @apply relative flex w-full flex-col border-l border-indigo-200 p-4 sm:flex-row;
  @apply text-purple-600 dark:text-purple-300;

  & a {
    @apply text-blue-400 underline hover:text-blue-400;
    @apply underline dark:text-blue-300 hover:dark:text-blue-200;
    text-decoration-style: wavy;

    &:hover {
      text-decoration-style: solid;
    }
  }

  &:last-child {
    @apply pb-0;
  }
}

.point {
  @apply absolute h-3 w-3 rounded-full border border-indigo-500 bg-gray-500 dark:border-indigo-300;
  left: -6px;
  top: 20px;
}

.details {
  @apply w-full sm:w-1/3;
}

.date {
  @apply rounded-full border  border-black px-2 text-xs dark:border-white;
  width: fit-content;
}

.content {
  @apply mt-4 w-full sm:mt-0 sm:w-2/3;
}
